:root {
  --color-black:       hsla(038deg, 000%, 000%, 1.0);
  --color-white:       hsla(038deg, 100%, 100%, 1.0);
  --color-dark:        hsla(038deg, 010%, 002%, 1.0);
  --color-dark-10:     hsla(038deg, 010%, 002%, 0.1);
  --color-light:       hsla(038deg, 100%, 090%, 1.0);
  --color-light-30:    hsla(038deg, 100%, 090%, 0.3);
  --color-light-50:    hsla(038deg, 100%, 090%, 0.5);
  --color-compsigh:    hsla(038deg, 100%, 050%, 1.0);
  --color-compsigh-10: hsla(038deg, 100%, 050%, 0.1);
  --color-compsigh-20: hsla(038deg, 100%, 050%, 0.2);
  --color-compsigh-60: hsla(038deg, 100%, 050%, 0.6);
  --color-invisible:   hsla(038deg, 000%, 000%, 0.0);

  --max-width: 700px;
  --margin: 40px auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-family: var(--font-ia-writer-quattro), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 180%;
}

h1,
h2,
h3 {
  font-family: var(--font-tronica-mono);
  font-weight: 400;
  margin: 1.5em 0 1em;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 3rem;
  color: var(--color-compsigh);
  text-shadow: 0 0 10px var(--color-compsigh-60);
  margin-bottom: 32px;
}

h2,
h3 {
  text-transform: uppercase;
}

h2 code,
h3 code {
  text-transform: none;
}

a {
  color: var(--color-compsigh);
}

a:hover {
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-compsigh);
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.5em 0;
}

li::before,
li::marker {
  color: var(--color-light-50);
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  margin-left: -22px;
  margin-top: -1px;
  content: '-';
}

ul ul {
  margin: unset;
}

ul ul > li,
ol ul > li,
ul ol > li,
ol ol > li {
  margin-left: 1em;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-light-30);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
  width: 100%;
  word-break: break-word;
}

tr {
  border-top: 1px solid var(--color-compsigh-20);
  border-bottom: 1px solid var(--color-compsigh-20);
}

th {
  font-weight: 400;
  text-align: left;
  background-color: var(--color-compsigh-10);
}

th,
td {
  padding: 8px 16px;
}
